<div id="decided_list_wrapper">
  <div id="accordion" class="panel-group decided_list">
    <% decided_list.each do |decided| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="decided_title_wrapper panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#decided_<%= decided.id %>" class="decided_collapse">
                <p class="decided_title" ><%= decided.suggest.title %></p>
              </a>
            </h5>
          </div>
          <div id="decided_<%= decided.id %>" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="media">
                <a href="#" class="media-left">
                  <%= image_tag decided.suggest.image, class: 'decided_image', size: '180x150' %>
                </a>
                <p class="decided_description media-body">
                  <%= decided.suggest.description %>
                </p>
              </div>
            </div>
          </div>
          <div class="decided_id" data-decided_id="<%= decided.id %>"></div>
        </div>
    <% end %>
  </div>
</div>
