<div id="message_list_wrapper">
  <ul id="message_list">
    <% message_list.each do |message| %>
        <% message_user = message.user %>
        <li class=<%= message_user.name %>>
          <% if message_user.id == current_user.id %>
              <div class="comment col-md-9 chat_frame_right">
                <p><%= message_user.name %></p>
                <p><%= message.message %></p>
              </div>
              <div class="col-md-3 icon_right">
                <%= gravatar_for current_user%>
              </div>
          <% else %>
              <div class="col-md-3 icon_left">
                <%= gravatar_for message_user %>
              </div>
              <div class="col-md-9 chat_frame_left">
                <p><%= message_user.name %></p>
                <p><%= message.message %></p>
              </div>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
