
<div class="container-fluid">

  <div class="row">

    <div class="col-md-2 hidden-sm hidden-xs" id="menubar">
      <div class="menulist">

        <div class="logo">
          <%= link_to image_tag('logo.png'), root_path %>
        </div>

        <p class="roomname">
          「<%= @room.name %>」
        </p>

        <p>メンバー</p>
        <div id="user_list">
          <ul>
            <% @room.users.each do |u| %>
                <li><%= u.name %></li>
            <% end %>
          </ul>
        </div>

        <p class="timerP">タイマー</p>
        <p class="timerP"><span id="endTimer"></span></p>
        <div id="targetDate" style="display: none;">2016-11-17 13:00:00.000</div>

      </div>
    </div>


    <div class="chat col-md-6">
      <%= render 'message_list', message_list: @messages, current_user: current_user %>
        <div id="chat_area">
          <div id="message_textarea">
            <textarea id="post_comment"  name="comment" rows="1" cols="10">てきすと</textarea>
            <input id="post" type="submit" value="投稿">
          </div>
          <div id="current_user"  data-current_user_id="<%= current_user.id %>"></div>
        </div>
    </div>

    <div class="dashboard col-md-4" >

        <ul class="tab">
          <li class="select">オススメ</li>
          <li>トピック</li>
          <li>地図</li>
          <li>決めたこと</li>

        </ul>
        <ul class="tab_content">
          <li>
            <div>
              <div id="suggest_textarea">
                <input type="text" class="col-md-8" id="suggest_name" placeholder="URL">
                <input type="submit" class="col-md-4" id="suggest_submit" value="をオススメする">
              </div>
            </div>
            <div id="suggest_area">
              <%= render 'suggest_list', suggest_list: @suggests %>
            </div>
            <div id="vote_area">
              <input id="start_vote"  type="submit" value="多数決をはじめる">
              <input id="finish_vote" type="submit" value="多数決をおわる　">
            </div>
          </li>

          <li>
            <div>
              <div id="topic_area">
                <input type="text" class="col-md-8" id="topic_name" placeholder="topicを入力">
                <input type="submit" class="col-md-4" id="topic_submit" value="について話し合う">
              </div>
            </div>
          </li>

          <li>
            <div id="ZMap"></div>
            <div id="search-area">
              <input type="text" id="word" value="東京">
              <input type="button" id="eki-search-btn" value='駅検索'>
              <input type="button" id="poi-search-btn"  value='施設検索'>
              <div id="search-result" style="overflow: scroll; height: 150px"></div>    
            </div>
          </li>

          <li>
            <%= render 'deceded_list', decided_list: @decided %>
          </li>
        </ul>

      </div>
    </div>
</div>


<!-- いつもナビapiのスクリプト呼び出し-->
<%= javascript_include_tag "http://api.its-mo.com/cgi/loader.cgi?ver=2.0&api=zdcmap.js,search.js,shape.js,usercontrol.js,control.js&enc=EUC&alert=1&force=1&key=#{Rails.application.secrets.ITSMO_KEY}"  %>


