<!--<%= stylesheet_link_tag "rooms", :media => "all" %>-->

<div class="container">
    <div class="row">
            <div class="col-md-2">
              <div class="menubar">
                <h1><%= link_to 'ChaTravel', rooms_path %></h1>

                <p>
                  <strong>RoomName:</strong>
                  <%= @room.name %>
                </p>

                <p>メンバー</p>
                <div id="user_list">
                  <ul>
                    <% @users.each do |u| %>
                      <li><%= u.name %></li>
                    <% end %>
                  </ul>
                </div>



                <p>決めたことリスト</p>
                <!--動的に階層構造。だれかお願い！ -->
                <ul>
                  <li>食事:<!--<%= @voteresult %>  --></li>
                  <li>宿泊先:<!--<%= @voteresult %>  --></li>
                  <li>観光地:<!--<%= @voteresult %>  --></li>
                </ul>
              </div>
            </div>

            <div class="col-md-7">
              <div class="chat">
                <%= render 'message_list', message_list: @messages, current_user: @user %>
                <div id="chat_area">
                  <div id="message_textarea">
                    <textarea id="post_comment"  name="comment" rows="1" cols="10">てきすと</textarea>
                    <input id="post" type="submit" value="投稿">
                  </div>
                  <div id="current_user"  data-current_user_id="<%= @user.id %>"></div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="dashboard">
                <div>
                  <!--<%= form_tag({controller: :rooms, action: :ajax_suggest_request}, remote: true) do %>-->
                  <!--<%= hidden_field_tag :ajax_suggest_request, 'ajax_suggest_request' %>-->
                  <!--<%= submit_tag('オススメする') %>-->
                  <!--<% end %>-->
                  <!--<input type="submit" value="+ 候補を登録する">-->
                  <div>
                    <textarea name="suggest_name" id="suggest_name" cols="30" rows="1"></textarea>
                    <input type="submit" id="suggest_submit" value="オススメする">
                  </div>
                </div>
                <div id="suggest_area">
                  <%= render 'suggest_list', suggest_list: @suggests %>
                </div>
                <div>
                  <input type="submit" value="投票を開始する">
                </div>
                <%= link_to 'Edit', edit_room_path(@room) %>
                </div>
            </div>
      </div>
</div>
