
<div class="container-fluid">

  <div class="row">

    <div class="col-md-2 hidden-sm hidden-xs" id="menubar">
      <div class="menulist">

        <div class="logo">
          <%= link_to image_tag('logo.png'), root_path %>
        </div>

        <p class="roomname">
          「<%= @room.name %>」
        </p>

        <p>メンバー</p>
        <div id="user_list">
          <ul>
            <% @room.users.each do |u| %>
                <li><%= u.name %></li>
            <% end %>
          </ul>
        </div>



        <p>決めたことリスト</p>
        <ul id="decided_list">
          <% @decideds.each do |d| %>
            <li><%= link_to d.title, d.url %></li>
          <% end %>
        </ul>

      </div>
    </div>


    <div class="chat col-md-6">
      <%= render 'message_list', message_list: @messages, current_user: current_user %>
        <div id="chat_area">
          <div id="message_textarea">
            <textarea id="post_comment"  name="comment" rows="1" cols="10">てきすと</textarea>
            <input id="post" type="submit" value="投稿">
          </div>
          <div id="current_user"  data-current_user_id="<%= current_user.id %>"></div>
        </div>
    </div>

    <div class="dashboard col-md-4" >

        <ul class="tab">
          <li class="select">オススメ</li>
          <li>なにか</li>
          <li>なんか</li>
        </ul>
        <ul class="tab_content">
          <li> 
            <div>
              <div id="suggest_textarea">
                <input type="text" class="col-md-8" id="suggest_name" placeholder="URL">
                <input type="submit" class="col-md-4" id="suggest_submit" value="をオススメする">
              </div>
            </div>
            <div id="suggest_area">
              <%= render 'suggest_list', suggest_list: @suggests %>
            </div>
            <div id="vote_area">
              <input id="start_vote"  type="submit" value="多数決をはじめる">
              <input id="finish_vote" type="submit" value="多数決をおわる　">
            </div>
            </li>

          <li>テスト1</li>

          <li>テスト２</li>
        </ul>

      </div>
    </div>
</div>
