
<div class="container-fluid">

  <div class="row">

    <div class="col-md-2 hidden-sm hidden-xs" id="menubar">
      <div class="menulist">

        <div class="logo">
          <%= link_to image_tag('logo.png'), root_path %>
        </div>

        <p class="roomname">
          「<%= @room.name %>」
        </p>

        <p>メンバー</p>
        <div id="user_list">
          <ul>
            <% @room.users.each do |u| %>
                <li><%= u.name %></li>
            <% end %>
          </ul>
        </div>

        <p class="timerP">タイマー</p>
        <p id="targetTopic">議題：<%= @topic.name %></p>
        <p class="timerP"><span id="endTimer"></span></p>
        <div id="targetDate" style="display: none;"><%= @topic.time %></div>

      </div>
    </div>


    <div class="chat col-md-6 col-sm-12 col-xs-12">
      <%= render 'message_list', message_list: @messages, current_user: current_user %>
        <div id="chat_area">
          <div id="message_textarea">
            <textarea class="chat col-md-10 col-xs-7" id="post_comment"  name="comment" rows="1" cols="10">てきすと</textarea>
            <input class="chat col-md-2 col-xs-3" id="post" type="submit" value="投稿">
          </div>
          <div id="current_user"  data-current_user_id="<%= current_user.id %>"></div>
        </div>
    </div>

    <div class="dashboard col-md-4 hidden-sm hidden-xs" >

        <ul class="tab">
          <li class="select">オススメ</li>
          <li>議題</li>
          <li>地図</li>
          <li>決めたこと</li>

        </ul>
        <ul class="tab_content">
          <li>
            <div>
              <div id="suggest_textarea">
                <p>URLでおすすめする</p>
                <input type="text" class="col-md-8" id="suggest_name" placeholder="URL">
                <input type="submit" class="col-md-4" id="suggest_submit" value="をオススメする">
              </div>
            </div>
            <div id="suggest_area">
              <%= render 'suggest_list', suggest_list: @suggests %>
            </div>
            <div id="vote_area">
              <input id="start_vote"  type="submit" value="多数決をはじめる">
              <input id="finish_vote" type="submit" value="多数決をおわる　">
            </div>
          </li>

          <li>
            <div>
              <div id="topic_area">
                <p>議題と時間を決める</p>
                <input type="text" id="topic_name" placeholder="議題を入力">
                <p>今から<input type="number" id="topic_time" min="0" required>分</p>
                <input type="submit" id="topic_submit" value="時間を決めて話し合う">
              </div>
            </div>
          </li>

          <li>
            <div id="ZMap"></div>
            <div id="search-area">

              <ul id="map_function">
                <input type="button" id="list-function-btn"  value='検索'>
                <input type="button" id="route-function-btn" value='ルート案内'>
                <li id="list-function">
                  <input type="text" id="word" value="東京">
                  <input type="button" id="eki-search-btn" value='駅検索'>
                  <input type="button" id="poi-search-btn"  value='施設検索'>
                    <div id="search-poi-list"></div>  
                </li>
                <li id="route-function">
                  <div id="select-poi-1">選択：</div>
                  <input type="button" id="route-from-btn" value='出発地に設定'>
                  <input type="button" id="route-to-btn" value='目的地に設定'>
                  <div id="route-from">出発地：</div>
                  <div id="route-to">目的地：</div>
                  <div></div>
                  <input type="button" id="route-btn" value='ドライブルート案内'>
                  <input type="button" id="route-btn-walk" value='徒歩ルート案内'>
                  <div id="route-time">走行時間：</div>
                  <div id="route-meter">走行距離：</div>
                  <div id="route-price">料金：</div>
                </li>
              </ul>   
               
            </div>
          </li>

          <li>
            <%= render 'decided_list', decided_list: @decided %>
          </li>
        </ul>

      </div>
    </div>
</div>


<!-- いつもナビapiのスクリプト呼び出し-->
<%= javascript_include_tag "http://api.its-mo.com/cgi/loader.cgi?ver=2.0&api=zdcmap.js,search.js,shape.js,usercontrol.js,control.js&enc=EUC&alert=1&force=1&key=#{Rails.application.secrets.ITSMO_KEY}"  %>


