
<div class="container-fluid">

  <div class="row">
    <div class="col-md-2" id="menubar">

      <div class="menulist">

        <div class="logo">
          <%= link_to image_tag('logo.png'), root_path %>
        </div>

        <p>
          <strong>RoomName:</strong>
          <%= @room.name %>
        </p>

        <p>メンバー</p>
        <div id="user_list">
          <ul>
            <% @users.each do |u| %>
                <li><%= u.name %></li>
            <% end %>
          </ul>
        </div>



        <p>決めたことリスト</p>
        <!--動的に階層構造。だれかお願い！ -->
        <ul>
          <li>食事:<!--<%= @voteresult %>  --></li>
          <li>宿泊先:<!--<%= @voteresult %>  --></li>
          <li>観光地:<!--<%= @voteresult %>  --></li>
        </ul>
      </div>
    </div>


    <div class="col-md-5">
      <div class="chat">
        <%= render 'message_list', message_list: @messages, current_user: @user %>
        <div id="chat_area">
          <div id="message_textarea">
            <textarea id="post_comment"  name="comment" rows="1" cols="10">てきすと</textarea>
            <input id="post" type="submit" value="投稿">
          </div>
          <div id="current_user"  data-current_user_id="<%= @user.id %>"></div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="dashboard">
        <div>
          <div id="suggest_textarea">
            <input type="text" size="100" id="suggest_name" placeholder="URL">
            <!--<textarea name="suggest_name" id="suggest_name" cols="100" rows="1" wrap="hard"></textarea>-->
            <input type="submit" id="suggest_submit" value="をオススメする">
          </div>
        </div>
        <div id="suggest_area">
          <%= render 'suggest_list', suggest_list: @suggests %>
        </div>
        <div id="vote_area">
          <input id="start_vote" type="submit" value="投票を開始する">
          <!--<%= render 'vote_list', suggest_list: @suggests %>-->
        </div>

      </div>
    </div>

  </div>
</div>
