<header class="navbar navbar-default">
  <div class="top_white"></div>

  <div class="container">
    <%= link_to image_tag('logo_white.png', :size => "323x150", :class => "logo_image"), root_path %>

    <nav>
      <ul class="nav navbar-nav navbar-right lead" id="header_nav">
        <li>
          <%= link_to " Home", root_path ,:class => "glyphicon glyphicon-home"%>
        </li>
        <% if logged_in? %>
          <li>
            <%= link_to " Rooms", rooms_path ,:class => "glyphicon glyphicon-comment"%>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle glyphicon glyphicon-cog" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to " Login", login_path, :class => "glyphicon glyphicon-log-in" %></li>
        <% end %>
      </ul>
    </nav>

  </div>

</header>
